@font-face {
	 font-family: "LLAkkuratProWeb-Light";
	 src: 	 url("fonts/lineto-akkurat-pro-light-s.eot");
	 src: 	 url("fonts/lineto-akkurat-pro-light-s.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-pro-light-s.woff") format("woff"),
		 url("fonts/lineto-akkurat-pro-light-s.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-pro-light-s.svg#LLAkkuratProWeb-Light") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLAkkuratProWeb-Lightitalic";
	 src: 	 url("fonts/lineto-akkurat-pro-lightitalic-s.eot");
	 src: 	 url("fonts/lineto-akkurat-pro-lightitalic-s.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-pro-lightitalic-s.woff") format("woff"),
		 url("fonts/lineto-akkurat-pro-lightitalic-s.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-pro-lightitalic-s.svg#LLAkkuratProWeb-Lightitalic") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLAkkuratProWeb-Regular";
	 src: 	 url("fonts/lineto-akkurat-pro-regular.eot");
	 src: 	 url("fonts/lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-pro-regular.woff") format("woff"),
		 url("fonts/lineto-akkurat-pro-regular.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-pro-regular.svg#LLAkkuratProWeb-Regular") format("svg");
	 font-weight: normal;
	 font-style: normal;
}