@font-face {
	 font-family: "LLAkkuratProWeb-Light";
	 src: 	 url("fonts/lineto-akkurat-light.eot");
	 src: 	 url("fonts/lineto-akkurat-light.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-light.woff") format("woff"),
		 url("fonts/lineto-akkurat-light.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-light.svg#LLAkkuratProWeb-Light") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLAkkuratProWeb-Lightitalic";
	 src: 	 url("fonts/lineto-akkurat-lightitalic.eot");
	 src: 	 url("fonts/lineto-akkurat-lightitalic.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-lightitalic.woff") format("woff"),
		 url("fonts/lineto-akkurat-lightitalic.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-lightitalic.svg#LLAkkuratProWeb-Lightitalic") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLAkkuratProWeb-Regular";
	 src: 	 url("fonts/lineto-akkurat-regular.eot");
	 src: 	 url("fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-regular.woff") format("woff"),
		 url("fonts/lineto-akkurat-regular.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-regular.svg#LLAkkuratProWeb-Regular") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLAkkuratProWeb-Italic";
	 src: 	 url("fonts/lineto-akkurat-italic.eot");
	 src: 	 url("fonts/lineto-akkurat-italic.eot?#iefix") format("embedded-opentype"),
		 url("fonts/lineto-akkurat-italic.woff") format("woff"),
		 url("fonts/lineto-akkurat-italic.ttf") format("truetype"),
		 url("fonts/lineto-akkurat-italic.svg#LLAkkuratProWeb-Italic") format("svg");
	 font-weight: normal;
	 font-style: normal;
}