@font-face {
  font-family: "LLAkkuratProWeb-Light";
  src: url("fonts/lineto-akkurat-pro-light-s.eot");
  src: url("fonts/lineto-akkurat-pro-light-s.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-pro-light-s.woff") format("woff"), url("fonts/lineto-akkurat-pro-light-s.ttf") format("truetype"), url("fonts/lineto-akkurat-pro-light-s.svg#LLAkkuratProWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LLAkkuratProWeb-Lightitalic";
  src: url("fonts/lineto-akkurat-pro-lightitalic-s.eot");
  src: url("fonts/lineto-akkurat-pro-lightitalic-s.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-pro-lightitalic-s.woff") format("woff"), url("fonts/lineto-akkurat-pro-lightitalic-s.ttf") format("truetype"), url("fonts/lineto-akkurat-pro-lightitalic-s.svg#LLAkkuratProWeb-Lightitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* normalize.css v1.1.1 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
/* 1 */
  color: #000;
/* 2 */
  font-size: 100%;
/* 3 */
  -webkit-text-size-adjust: 100%;
/* 4 */
  -ms-text-size-adjust: 100%;
/* 4 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
  white-space: normal;
/* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
/* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
/* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}
.u-cf:before,
.u-cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.u-cf:after {
  clear: both;
}
html {
  overflow-y: scroll;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}
@font-face {
  font-family: 'Genericons';
  src: url("fonts/Genericons.eot");
}
@font-face {
  font-family: 'Genericons';
  src: url("fonts/Genericons.woff") format('woff'), url("fonts/Genericons.ttf") format('truetype'), url("fonts/Genericons.svg#genericonsregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Genericons";
    src: url("fonts/Genericons.svg#Genericons") format("svg");
  }
}
.genericon {
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  -moz-transition: color 0.1s ease-in 0;
  -webkit-transition: color 0.1s ease-in 0;
  display: inline-block;
  font-family: "Genericons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}
.genericon-404:before {
  content: "\f423";
}
.genericon-activity:before {
  content: "\f508";
}
.genericon-anchor:before {
  content: "\f509";
}
.genericon-aside:before {
  content: "\f101";
}
.genericon-attachment:before {
  content: "\f416";
}
.genericon-audio:before {
  content: "\f109";
}
.genericon-bold:before {
  content: "\f471";
}
.genericon-book:before {
  content: "\f444";
}
.genericon-bug:before {
  content: "\f50a";
}
.genericon-cart:before {
  content: "\f447";
}
.genericon-category:before {
  content: "\f301";
}
.genericon-chat:before {
  content: "\f108";
}
.genericon-checkmark:before {
  content: "\f418";
}
.genericon-close:before {
  content: "\f405";
}
.genericon-close-alt:before {
  content: "\f406";
}
.genericon-cloud:before {
  content: "\f426";
}
.genericon-cloud-download:before {
  content: "\f440";
}
.genericon-cloud-upload:before {
  content: "\f441";
}
.genericon-code:before {
  content: "\f462";
}
.genericon-codepen:before {
  content: "\f216";
}
.genericon-cog:before {
  content: "\f445";
}
.genericon-collapse:before {
  content: "\f432";
}
.genericon-comment:before {
  content: "\f300";
}
.genericon-day:before {
  content: "\f305";
}
.genericon-digg:before {
  content: "\f221";
}
.genericon-document:before {
  content: "\f443";
}
.genericon-dot:before {
  content: "\f428";
}
.genericon-downarrow:before {
  content: "\f502";
}
.genericon-download:before {
  content: "\f50b";
}
.genericon-draggable:before {
  content: "\f436";
}
.genericon-dribbble:before {
  content: "\f201";
}
.genericon-dropbox:before {
  content: "\f225";
}
.genericon-dropdown:before {
  content: "\f433";
}
.genericon-dropdown-left:before {
  content: "\f434";
}
.genericon-edit:before {
  content: "\f411";
}
.genericon-ellipsis:before {
  content: "\f476";
}
.genericon-expand:before {
  content: "\f431";
}
.genericon-external:before {
  content: "\f442";
}
.genericon-facebook:before {
  content: "\f203";
}
.genericon-facebook-alt:before {
  content: "\f204";
}
.genericon-fastforward:before {
  content: "\f458";
}
.genericon-feed:before {
  content: "\f413";
}
.genericon-flag:before {
  content: "\f468";
}
.genericon-flickr:before {
  content: "\f211";
}
.genericon-foursquare:before {
  content: "\f226";
}
.genericon-fullscreen:before {
  content: "\f474";
}
.genericon-gallery:before {
  content: "\f103";
}
.genericon-github:before {
  content: "\f200";
}
.genericon-googleplus:before {
  content: "\f206";
}
.genericon-googleplus-alt:before {
  content: "\f218";
}
.genericon-handset:before {
  content: "\f50c";
}
.genericon-heart:before {
  content: "\f461";
}
.genericon-help:before {
  content: "\f457";
}
.genericon-hide:before {
  content: "\f404";
}
.genericon-hierarchy:before {
  content: "\f505";
}
.genericon-home:before {
  content: "\f409";
}
.genericon-image:before {
  content: "\f102";
}
.genericon-info:before {
  content: "\f455";
}
.genericon-instagram:before {
  content: "\f215";
}
.genericon-italic:before {
  content: "\f472";
}
.genericon-key:before {
  content: "\f427";
}
.genericon-leftarrow:before {
  content: "\f503";
}
.genericon-link:before {
  content: "\f107";
}
.genericon-linkedin:before {
  content: "\f207";
}
.genericon-linkedin-alt:before {
  content: "\f208";
}
.genericon-location:before {
  content: "\f417";
}
.genericon-lock:before {
  content: "\f470";
}
.genericon-mail:before {
  content: "\f410";
}
.genericon-maximize:before {
  content: "\f422";
}
.genericon-menu:before {
  content: "\f419";
}
.genericon-microphone:before {
  content: "\f50d";
}
.genericon-minimize:before {
  content: "\f421";
}
.genericon-minus:before {
  content: "\f50e";
}
.genericon-month:before {
  content: "\f307";
}
.genericon-move:before {
  content: "\f50f";
}
.genericon-next:before {
  content: "\f429";
}
.genericon-notice:before {
  content: "\f456";
}
.genericon-paintbrush:before {
  content: "\f506";
}
.genericon-path:before {
  content: "\f219";
}
.genericon-pause:before {
  content: "\f448";
}
.genericon-phone:before {
  content: "\f437";
}
.genericon-picture:before {
  content: "\f473";
}
.genericon-pinned:before {
  content: "\f308";
}
.genericon-pinterest:before {
  content: "\f209";
}
.genericon-pinterest-alt:before {
  content: "\f210";
}
.genericon-play:before {
  content: "\f452";
}
.genericon-plugin:before {
  content: "\f439";
}
.genericon-plus:before {
  content: "\f510";
}
.genericon-pocket:before {
  content: "\f224";
}
.genericon-polldaddy:before {
  content: "\f217";
}
.genericon-portfolio:before {
  content: "\f460";
}
.genericon-previous:before {
  content: "\f430";
}
.genericon-print:before {
  content: "\f469";
}
.genericon-quote:before {
  content: "\f106";
}
.genericon-rating-empty:before {
  content: "\f511";
}
.genericon-rating-full:before {
  content: "\f512";
}
.genericon-rating-half:before {
  content: "\f513";
}
.genericon-reddit:before {
  content: "\f222";
}
.genericon-refresh:before {
  content: "\f420";
}
.genericon-reply:before {
  content: "\f412";
}
.genericon-reply-alt:before {
  content: "\f466";
}
.genericon-reply-single:before {
  content: "\f467";
}
.genericon-rewind:before {
  content: "\f459";
}
.genericon-rightarrow:before {
  content: "\f501";
}
.genericon-search:before {
  content: "\f400";
}
.genericon-send-to-phone:before {
  content: "\f438";
}
.genericon-send-to-tablet:before {
  content: "\f454";
}
.genericon-share:before {
  content: "\f415";
}
.genericon-show:before {
  content: "\f403";
}
.genericon-shuffle:before {
  content: "\f514";
}
.genericon-sitemap:before {
  content: "\f507";
}
.genericon-skip-ahead:before {
  content: "\f451";
}
.genericon-skip-back:before {
  content: "\f450";
}
.genericon-skype:before {
  content: "\f220";
}
.genericon-spam:before {
  content: "\f424";
}
.genericon-spotify:before {
  content: "\f515";
}
.genericon-standard:before {
  content: "\f100";
}
.genericon-star:before {
  content: "\f408";
}
.genericon-status:before {
  content: "\f105";
}
.genericon-stop:before {
  content: "\f449";
}
.genericon-stumbleupon:before {
  content: "\f223";
}
.genericon-subscribe:before {
  content: "\f463";
}
.genericon-subscribed:before {
  content: "\f465";
}
.genericon-summary:before {
  content: "\f425";
}
.genericon-tablet:before {
  content: "\f453";
}
.genericon-tag:before {
  content: "\f302";
}
.genericon-time:before {
  content: "\f303";
}
.genericon-top:before {
  content: "\f435";
}
.genericon-trash:before {
  content: "\f407";
}
.genericon-tumblr:before {
  content: "\f214";
}
.genericon-twitch:before {
  content: "\f516";
}
.genericon-twitter:before {
  content: "\f202";
}
.genericon-unapprove:before {
  content: "\f446";
}
.genericon-unsubscribe:before {
  content: "\f464";
}
.genericon-unzoom:before {
  content: "\f401";
}
.genericon-uparrow:before {
  content: "\f500";
}
.genericon-user:before {
  content: "\f304";
}
.genericon-video:before {
  content: "\f104";
}
.genericon-videocamera:before {
  content: "\f517";
}
.genericon-vimeo:before {
  content: "\f212";
}
.genericon-warning:before {
  content: "\f414";
}
.genericon-website:before {
  content: "\f475";
}
.genericon-week:before {
  content: "\f306";
}
.genericon-wordpress:before {
  content: "\f205";
}
.genericon-xpost:before {
  content: "\f504";
}
.genericon-youtube:before {
  content: "\f213";
}
.genericon-zoom:before {
  content: "\f402";
}
.container {
  margin: 0 auto;
  width: 1272px;
}
.row {
  clear: both;
}
.col {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}
.col1 {
  width: 90px;
}
.col2 {
  width: 196px;
}
.col3 {
  width: 302px;
}
.col4 {
  width: 408px;
}
.col5 {
  width: 514px;
}
.col6 {
  width: 620px;
}
.col7 {
  width: 726px;
}
.col8 {
  width: 832px;
}
.col9 {
  width: 938px;
}
.col10 {
  width: 1044px;
}
.col11 {
  width: 1150px;
}
.col12 {
  width: 1256px;
}
html,
body {
  font-family: "LLAkkuratProWeb-Light", helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
i,
em,
.font-italic {
  font-family: "LLAkkuratProWeb-Lightitalic", helvetica, arial, sans-serif;
  font-style: normal !important;
}
.font-larger {
  font-size: 17px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
h1 {
  font-size: 43px;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  font-weight: normal;
}
p {
  margin-bottom: 1em;
}
.copy {
  max-width: 650px;
}
.highlight {
  text-decoration: underline;
}
a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a:hover,
a:active:hover,
a:visited:hover {
  opacity: 0.5;
}
html {
  background-color: #fdfdfd;
  color: #817e7e;
}
img {
  max-width: 100%;
  height: auto;
}
.u-marginauto {
  margin: 0 auto;
}
.u-background-cover {
  background-size: cover;
  background-position: center center;
}
#sidebar {
  width: 250px;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 16px;
  background-color: #fdfdfd;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#sidebar-toggle {
  display: none;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#sidebar-toggle path {
  fill: #fdfdfd;
}
#main-content {
  padding-left: 250px;
}
.header-left {
  float: left;
  width: 65%;
}
.header-right {
  float: left;
  width: 35%;
  box-sizing: border-box;
  text-align: right;
  padding-top: 16px;
  padding-right: 32px;
}
#vimeo-player {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: padding-bottom 0.2s;
          transition: padding-bottom 0.2s;
}
#vimeo-player iframe,
#vimeo-player object,
#vimeo-player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sidebar-section {
  margin-bottom: 16px;
}
.sidebar-section:after {
  content: "\2014";
  display: block;
  margin-top: 16px;
}
#search-input {
  display: inline-block;
  width: 50px;
  border: 0;
  border-bottom: dotted 1px #817e7e;
}
.basic-post {
  text-align: center;
  color: #fdfdfd;
  height: 350px;
  background-color: #0e0e0e;
  background-position: center center;
  background-size: cover;
}
.basic-post:hover .basic-post-content {
  display: none;
}
.basic-post:hover .basic-post-hover {
  display: inline-block;
}
.basic-post-title {
  font-size: 50px;
}
.basic-post-subtitle {
  font-size: 30px;
}
.basic-post-hover {
  display: none;
  padding: 16px 32px;
  font-size: 30px;
  background-color: #fdfdfd;
  opacity: 0.65;
  color: #0e0e0e;
}
.news-read-more .news-post-header:hover .news-header {
  display: none;
}
.news-read-more .news-post-header:hover .news-hover {
  display: inline-block;
}
.home-news-posts-with-background {
  background-size: cover;
  background-position: center center;
}
.news-post-header {
  text-align: center;
  color: #fdfdfd;
  height: 350px;
}
.news-title {
  font-size: 50px;
  max-width: 800px;
  margin: 0 auto;
}
.news-hover {
  display: none;
  padding: 16px 32px;
  font-size: 30px;
  background-color: #fdfdfd;
  opacity: 0.65;
  color: #0e0e0e;
}
.news-copy {
  display: none;
  margin: 80px 0;
}
.page-header {
  background-color: #edecec;
}
#page-title {
  margin-left: 32px;
  padding-bottom: 16px;
}
#director-biography {
  display: none;
}
#director-showreel,
#director-archive {
  margin-top: 32px;
}
#director-archive-tags {
  padding-bottom: 16px;
}
.filter-tag {
  display: inline-block;
  padding: 16px 16px 0 16px;
  font-size: 13px;
}
.director-showreel-video {
  width: 33.333%;
}
.director-archive-video {
  width: 20%;
  display: none;
}
.director-archive-video,
.director-showreel-video {
  float: left;
  position: relative;
}
.director-archive-video.active,
.director-showreel-video.active {
  display: block;
}
.director-archive-video .u-holder,
.director-showreel-video .u-holder {
  color: #fdfdfd;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.director-archive-video .u-holder:hover,
.director-showreel-video .u-holder:hover {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  #sidebar {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
  }
  #sidebar.open {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%);
  }
  #sidebar-toggle {
    width: 30px;
    height: 30px;
    top: 16px;
    right: 16px;
    position: fixed;
    display: block;
    background: none;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
  }
  #sidebar-toggle.rotate {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
  }
  #main-content {
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  #logo {
    width: 50%;
  }
  #sidebar {
    width: 100%;
  }
  #sidebar-toggle path {
    fill: #817e7e;
  }
}
