@font-face {
  font-family: "LLAkkuratProWeb-Light";
  src: url("fonts/lineto-akkurat-light.eot");
  src: url("fonts/lineto-akkurat-light.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-light.woff") format("woff"), url("fonts/lineto-akkurat-light.ttf") format("truetype"), url("fonts/lineto-akkurat-light.svg#LLAkkuratProWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LLAkkuratProWeb-Lightitalic";
  src: url("fonts/lineto-akkurat-lightitalic.eot");
  src: url("fonts/lineto-akkurat-lightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-lightitalic.woff") format("woff"), url("fonts/lineto-akkurat-lightitalic.ttf") format("truetype"), url("fonts/lineto-akkurat-lightitalic.svg#LLAkkuratProWeb-Lightitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LLAkkuratProWeb-Regular";
  src: url("fonts/lineto-akkurat-regular.eot");
  src: url("fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-regular.woff") format("woff"), url("fonts/lineto-akkurat-regular.ttf") format("truetype"), url("fonts/lineto-akkurat-regular.svg#LLAkkuratProWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LLAkkuratProWeb-Italic";
  src: url("fonts/lineto-akkurat-italic.eot");
  src: url("fonts/lineto-akkurat-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-italic.woff") format("woff"), url("fonts/lineto-akkurat-italic.ttf") format("truetype"), url("fonts/lineto-akkurat-italic.svg#LLAkkuratProWeb-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* normalize.css v1.1.1 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  color: #000;
/* 2 */
  font-size: 100%;
/* 3 */
  -webkit-text-size-adjust: 100%;
/* 4 */
  -ms-text-size-adjust: 100%;
/* 4 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
  white-space: normal;
/* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
/* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
/* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}
.u-cf:before,
.u-cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.u-cf:after {
  clear: both;
}
html {
  overflow-y: scroll;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}
body {
  font-family: "LLAkkuratProWeb-Light", helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: #817e7e;
}
i,
em,
.font-italic {
  font-family: "LLAkkuratProWeb-Lightitalic";
  font-style: normal !important;
}
b,
strong,
.font-bold {
  font-family: "LLAkkuratProWeb-Regular";
  font-style: normal !important;
}
.font-light-gray {
  color: #c8c8c8;
}
.font-size-smaller {
  font-size: 14px;
  line-height: 1.5em;
}
.font-size-smallest {
  font-size: 12px;
  line-height: 1.5em;
}
h1 {
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  font-weight: normal;
}
p {
  margin-bottom: 1em;
}
p a {
  font-family: "LLAkkuratProWeb-Regular";
  color: #41413f;
}
.copy {
  max-width: 650px;
  box-sizing: border-box;
  padding-right: 16px;
}
a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active:hover,
a:visited:hover {
  color: #c8c8c8;
}
html,
body {
  background-color: #edecec;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
img {
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
iframe {
  max-width: 100%;
}
.background-gray {
  background-color: #edecec;
}
.button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #cdcbcb;
  padding: 0em 0.5em;
  color: #fdfdfd;
}
.u-marginauto {
  margin: 0 auto;
}
.u-background-cover {
  background-size: cover;
  background-position: center center;
}
.u-fixed-ratio {
  position: relative;
  display: inline-block;
}
.u-fixed-ratio-dummy {
  padding-top: 60%;
}
.u-fixed-ratio-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #edecec;
  border-right: 1px solid #edecec;
}
.u-force-width {
  min-height: 1em;
}
.u-pointer {
  cursor: pointer;
}
.col {
  float: left;
}
.col1 {
  width: 33.33%;
}
.col2 {
  width: 66.6%;
}
.colpad1left {
  padding-left: 33.3%;
}
#sidebar {
  width: 250px;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 16px;
  background-color: #fdfdfd;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
#sidebar-toggle {
  display: none;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
#sidebar-toggle path {
  fill: #cdcbcb;
}
#main-content {
  padding-left: 250px;
}
.header-left {
  float: left;
  width: 65%;
}
.header-right {
  float: left;
  width: 35%;
  box-sizing: border-box;
  text-align: right;
  padding-top: 16px;
  padding-right: 32px;
}
#vimeo-player,
#video-overlay-player {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: padding-top 0.6s;
  transition: padding-top 0.6s;
}
#vimeo-player iframe,
#video-overlay-player iframe,
#vimeo-player object,
#video-overlay-player object,
#vimeo-player embed,
#video-overlay-player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#logo {
  width: 100%;
}
#logo path {
  fill: #41413f;
}
.sidebar-section {
  margin-bottom: 8px;
}
.sidebar-section:after {
  content: "\2014";
  display: block;
  margin-top: 8px;
}
#search-input {
  display: inline-block;
  outline: none;
  width: 50px;
  border-width: 0 0 1px 0;
  -o-border-image: url("../img/dist/ns-searchborder.svg") 2 3 repeat;
     border-image: url("../img/dist/ns-searchborder.svg") 2 3 repeat;
  background-color: transparent;
  font-family: "LLAkkuratProWeb-Regular";
  color: #00bcec;
}
#sidebar-contact {
  line-height: 2em;
}
#sidebar-contact svg {
  height: 15px;
  width: 15px;
  margin-right: 0.3em;
}
#sidebar-contact svg path {
  fill: #817e7e;
}
.menu-active {
  font-family: "LLAkkuratProWeb-Regular";
  color: #41413f;
}
#posts article {
  border-bottom: 1px solid #edecec;
}
.post-main {
  text-align: center;
  color: #fdfdfd;
  height: 380px;
  position: relative;
  background-color: #0e0e0e;
  background-position: center center;
  background-size: cover;
  -webkit-transition: height 0.7s;
  transition: height 0.7s;
  overflow: hidden;
}
.home-news.news-read-more .post-main:hover .post-header,
.home-video .post-main:hover .post-header {
  display: none;
}
.home-news.news-read-more .post-main:hover .post-header-hover,
.home-video .post-main:hover .post-header-hover {
  display: inline-block;
}
.director-label {
  margin-top: 16px;
}
.director-label path {
  fill: #817e7e;
}
.director-label:hover path {
  fill: #c8c8c8;
}
.webm-background-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.touch .webm-background-container {
  display: none;
}
.webm-background {
  height: auto;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.post-header {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.post-header-hover {
  display: none;
  padding: 16px 32px;
  opacity: 0.85;
}
.post-copy {
  display: none;
  position: relative;
}
.single-post .post-copy {
  display: block;
}
.post-copy-close {
  position: absolute;
  top: 32px;
  right: 32px;
}
.post-copy-container {
  box-sizing: border-box;
  padding: 32px;
}
.basic-post-title {
  margin-bottom: 16px;
}
#pagination {
  padding: 80px;
  text-align: center;
}
.home-news.active .post-header {
  display: block;
}
.home-news.active .post-header-hover {
  display: none;
}
.news-copy {
  display: none;
  margin: 80px 0;
}
.home-video-player {
  position: absolute;
  top: 380px;
  height: 380px;
  width: 100%;
  z-index: 1;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.home-video.active .home-video-player {
  top: 0;
}
.page-header {
  background-color: #edecec;
  padding-top: 16px;
  padding-bottom: 8px;
}
#page-title {
  margin-left: 32px;
  padding-bottom: 16px;
}
.about-page-director {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 16px;
}
#map-copy {
  display: none;
}
#map-canvas {
  height: 400px;
  margin: 0;
  padding: 0;
}
#map-canvas img {
  max-width: none;
}
.contact-person{
  margin: 36px 15px 16px 25px;
  float:left;
}
.contact-person svg {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 0.4em;
  margin-top: 0.2em;
}
.contact-person svg path {
  fill: #817e7e;
}
#subForm label {
  font-family: "LLAkkuratProWeb-Lightitalic";
  color: #c8c8c8;
  display: block;
  height: 51px;
  margin-bottom: 16px;
  padding: 0 32px;
  box-sizing: border-box;
}
#subForm .mobile-label {
  display: none;
}
#subForm input {
  display: block;
  width: 90%;
  max-width: 550px;
  margin-bottom: 16px;
  padding: 8px;
  box-sizing: border-box;
  font-family: "LLAkkuratProWeb-Light", helvetica, arial, sans-serif;
  font-size: 30px;
  color: #00bcec;
  border: 0;
  outline-color: #00bcec;
  display: block;
}
#subForm button {
  background-color: #00bcec;
  color: #fdfdfd;
  border: 0;
  font-family: "LLAkkuratProWeb-Light", helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.search-results-label {
  margin: 0 auto;
  width: 70%;
  max-width: 400px;
}
.search-results-label-fix {
  padding-top: 14px;
}
.search-result-section {
  margin-top: 32px;
  margin-bottom: 80px;
}
.search-result-section strong {
  color: #00bcec;
  font-weight: normal !important;
}
.cinema-mode {
  background-color: #edecec;
  color: #c8c8c8;
}
.cinema-mode body,
.cinema-mode #sidebar {
  background-color: #edecec;
  color: #c8c8c8;
}
.cinema-mode #inline-player-bar {
  display: block;
  opacity: 1;
}
.cinema-mode .inline-player-nav {
  opacity: 1;
}
.cinema-mode #director-archive {
  padding-top: 16px;
}
#inline-player-bar {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.inline-player-nav {
  display: inline-block;
  padding-top: 8px;
  margin-bottom: 0.4em;
  margin-right: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.inline-player-nav svg {
  height: 20px;
}
.inline-player-nav svg path {
  fill: #41413f;
}
.inline-player-nav svg:hover path {
  fill: #cdcbcb;
}
#inline-nowplaying {
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #41413f;
  padding-bottom: 8px;
  margin-top: 5px;
}
#now-playing-title {
  color: #41413f;
}
#director-menu {
  padding-top: 16px;
}
#director-menu #director-showreel-label {
  display: none;
}
#director-menu[data-active="archive"] #director-showreel-play,
#director-menu[data-active="biography"] #director-showreel-play,
#director-menu[data-active="stills"] #director-showreel-play {
  display: none;
}
#director-menu[data-active="archive"] #director-showreel-label,
#director-menu[data-active="biography"] #director-showreel-label,
#director-menu[data-active="stills"] #director-showreel-label {
  display: inline-block;
}
.director-menu-item {
  width: 80px;
  text-align: center;
  display: block;
  float: left;
  text-transform: uppercase;
  background-color: #cdcbcb;
  padding: 0em 0.4em;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #fdfdfd;
}
.director-menu-item.active {
  background-color: #dfdfdf;
}
.director-menu-item:hover {
  background-color: #dfdfdf;
}
.director-menu-item a:hover {
  color: #fdfdfd;
}
.director-menu-item-blue {
  background-color: #00bcec;
}
.director-menu-item-blue:hover {
  background-color: #7fddf5;
}
#director-biography,
#director-archive,
#director-stills {
  display: none;
}
#director-archive {
  -webkit-transition: padding-top 0.6s;
  transition: padding-top 0.6s;
}
#director-archive a:hover {
  opacity: 1;
}
#director-archive-tags {
  padding-bottom: 16px;
}
.filter-tag {
  float: left;
  background-color: #cdcbcb;
  color: #fdfdfd;
  text-transform: uppercase;
  padding: 0 0.4em;
  margin-bottom: 5px;
  margin-right: 5px;
}
.filter-tag-active {
  background-color: #00bcec;
}
.director-archive-video {
  width: 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.director-archive-video.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.director-archive-video h4 {
  -webkit-font-smoothing: antialiased;
  font-family: "LLAkkuratProWeb-Regular";
}
.director-archive-video h4 em {
  font-family: "LLAkkuratProWeb-Italic";
}
.director-archive-video,
.director-showreel-video {
  float: left;
  position: relative;
}
.director-archive-video.active,
.director-showreel-video.active {
  display: block;
}
.director-archive-video .u-holder,
.director-showreel-video .u-holder {
  color: #fdfdfd;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.director-archive-video .u-holder:hover,
.director-showreel-video .u-holder:hover {
  opacity: 1;
}
.director-archive-video .u-held,
.director-showreel-video .u-held {
  box-sizing: border-box;
  padding: 8px;
}
.director-archive-video .u-fixed-ratio-content,
.director-showreel-video .u-fixed-ratio-content {
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.director-archive-video:hover .u-fixed-ratio-content,
.director-showreel-video:hover .u-fixed-ratio-content {
  background-color: rgba(0,0,0,0.5);
}
.still {
  width: 33.33%;
  box-sizing: border-box;
  border-top: 1px solid #edecec;
  border-right: 1px solid #edecec;
}
.still .full-still {
  display: none;
}
.still .attachment-stills {
  width: 100%;
}
#image-overlay {
  text-align: center;
}
#video-overlay,
#image-overlay {
  display: none;
  background-color: rgba(255,255,255,0.92);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}
#video-overlay-player {
  background-color: #0e0e0e;
}
.video-overlay-nav {
  position: absolute;
  top: 50%;
}
.video-overlay-nav .genericon {
  font-size: 50px;
}
#video-overlay-close,
#image-overlay-close {
  top: 32px;
  right: 32px;
}
#video-overlay-next,
#image-overlay-next {
  margin-top: -25px;
  right: 32px;
}
#video-overlay-previous,
#image-overlay-previous {
  margin-top: -25px;
  left: 32px;
}
#video-overlay-inner,
#image-overlay-inner {
  width: 80%;
  margin: 0 auto;
}
#video-overlay-text {
  margin-top: 16px;
}
@media screen and (max-width: 1200px) {
  .director-showreel-video h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 1080px) {
  .director-showreel-video h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 1111px) {
  #sidebar {
    width: 220px;
  }
  #main-content {
    padding-left: 220px;
  }
  .director-archive-video {
    width: 33.33%;
  }
}
@media screen and (max-width: 888px) {
  #sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  #sidebar.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #sidebar-toggle {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    padding: 16px;
    position: fixed;
    display: block;
    background: none;
    z-index: 999;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #sidebar-toggle.rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #main-content {
    padding-left: 0;
  }
  .colpad1left {
    padding-left: 16px;
  }
  .copy {
    padding-left: 16px;
  }
  #director-header .col1 {
    width: 50%;
    box-sizing: border-box;
  }
  #director-header .col1.colpad1left {
    width: 33.33%;
  }
  .director-showreel-video h3 {
    font-size: 22.5px;
  }
  .director-showreel-video.col1 {
    width: 50%;
  }
  .search-results-label {
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  #subForm label {
    padding: 0 16px;
  }
  .still {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  h1,
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }
  #subForm label {
    height: 46px;
  }
  #subForm input {
    font-size: 25px;
  }
  #logo {
    width: 50%;
  }
  #sidebar {
    width: 100%;
  }
  #sidebar-toggle path {
    fill: #41413f;
  }
  .post-main {
    height: 260px;
  }
  #director-header .col1 {
    width: 50%;
  }
  #director-header .col1.colpad1left {
    width: 50%;
  }
  #director-menu {
    padding-top: 0;
  }
  .director-showreel-video.col1 {
    width: 100%;
  }
  .director-showreel-video.col1 .u-fixed-ratio-content {
    border-right: none;
  }
  .director-showreel-video.col1 .u-holder {
    opacity: 1;
  }
  #director-archive .col1,
  #director-biography .col1 {
    display: none;
  }
  #director-archive .col2,
  #director-biography .col2 {
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .director-archive-video {
    width: 50%;
  }
  #page .row .col1 {
    display: none;
  }
  #page .row .col2 {
    width: 100%;
    box-sizing: border-box;
  }
  .contact-person {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  #subForm .col2 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  #subForm input {
    width: 100%;
  }
  #subForm .mobile-label {
    display: block;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    height: auto;
  }
  .search-result-section {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .search-result-section .col {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .search-result-section .col1 {
    margin-bottom: 8px;
  }
  .search-result-section .search-results-label,
  .search-result-section .search-result.copy {
    padding: 0;
  }
  .video-overlay-nav svg {
    height: 20px;
    width: 20px;
  }
  #video-overlay-close {
    top: 13px;
    right: 13px;
  }
  #video-overlay-next {
    margin-top: -10px;
    right: 13px;
  }
  #video-overlay-previous {
    margin-top: -10px;
    left: 13px;
  }
  #video-overlay-inner {
    width: 70%;
  }
  #video-overlay-text {
    margin-top: 13px;
  }
  .still {
    width: 100%;
  }
}
