@import "fonts"
@import "resets"

// VARIABLES

$width-sidebar = 250px

$basic-animation-speed = 0.6s
$fast-animation-speed = 0.2s
$longer-animation-speed = 0.7s

$margin-small = 16px
$margin-tiny = ($margin-small/2)
$margin-basic = ($margin-small*2)
$margin-large = ($margin-small*5)

$margin-nav-spacing = 5px

$basic-post-height = 380px

$overlay-nav-size = 50px

$font-size-basic = 15px

$font-size-heading = 60px
$font-size-subheading = 30px

$font-size-smaller = 14px
$font-size-smallest = 12px

$font-leading-basic = 1.5em
$font-tracking-basic = 0.03em

$color-soft-black = rgb(14,14,14)
$color-soft-white = rgb(253,253,253)

$color-blue = rgb(0,188,236)

$color-light-gray = rgb(237,236,236)
$color-mid-gray = rgb(223,223,223)
$color-dark-gray = rgb(205,203,203)

$color-border-gray = rgb(237, 236, 236)

$color-light-text-gray = rgb(200,200,200)
$color-text-gray = rgb(129,126,126)
$color-dark-text-gray = rgb(65,65,63)

// TYPOGRAPHY

body
  font-family:"LLAkkuratProWeb-Light",helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  color: $color-text-gray

i, em, .font-italic
  font-family:"LLAkkuratProWeb-Lightitalic"
  font-style: normal !important

b, strong, .font-bold
  font-family:"LLAkkuratProWeb-Regular"
  font-style: normal !important

.font-light-gray
  color: $color-light-text-gray

.font-size-smaller
  font-size: $font-size-smaller
  line-height: $font-leading-basic

.font-size-smallest
  font-size: $font-size-smallest
  line-height: $font-leading-basic

h1
  font-size: $font-size-heading
  -webkit-font-smoothing: antialiased

h2
  font-size: $font-size-heading
  -webkit-font-smoothing: antialiased

h3
  font-size: $font-size-subheading
  -webkit-font-smoothing: antialiased

h4
  font-size: $font-size-basic

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic
  font-weight: normal

p
  margin-bottom: 1em
  a
    font-family:"LLAkkuratProWeb-Regular"
    color: $color-dark-text-gray

.copy
  max-width: 650px
  box-sizing: border-box
  padding-right: $margin-small


// LINKS

a,a:active,a:visited
  color:inherit
  text-decoration: none
  &:hover
  	color: $color-light-text-gray

// BASIC

html, body
  background-color: $color-light-gray
  transition: background-color $longer-animation-speed

img
  max-width: 100%
  height: auto

.aligncenter
  display: block
  margin: 0 auto

iframe
  max-width: 100%

.background-gray
  background-color: $color-light-gray

.button
  display: inline-block
  text-transform: uppercase
  background-color: $color-dark-gray
  padding: 0em 0.5em
  color: $color-soft-white

// UTILITY

.u-marginauto
  margin: 0 auto

.u-background-cover
  background-size: cover
  background-position: center center

.u-fixed-ratio
  position: relative
  display: inline-block

.u-fixed-ratio-dummy
  padding-top: 60%

.u-fixed-ratio-content
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  border-top: 1px solid $color-border-gray
  border-right: 1px solid $color-border-gray

.u-force-width
  min-height: 1em

// 3 COL FLUID

.col
  float: left

.col1
  width: 33.33%

.col2
  width: 66.6%

.colpad1left
  padding-left: 33.3%

// STRUCTURE

#sidebar
  width: $width-sidebar
  position: fixed
  z-index: 888
  top: 0
  left: 0
  height: 100%
  overflow-y: auto
  box-sizing: border-box
  padding: $margin-small
  background-color: $color-soft-white
  transition-property: transform, background-color
  transition-duration: $longer-animation-speed

#sidebar-toggle
  display: none
  z-index: 999
  transition: transform $longer-animation-speed
  path
    fill: $color-dark-gray

#main-content
  padding-left: $width-sidebar

.header-left
  float: left
  width: 65%

.header-right
  float: left
  width: 35%
  box-sizing: border-box
  text-align: right
  padding-top: $margin-small
  padding-right: $margin-basic

// PLAYER

#vimeo-player, #video-overlay-player
  position: relative
  height: 0
  overflow: hidden
  transition: padding-top $basic-animation-speed
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// SIDEBAR

#logo
  width: 100%
  path
    fill: $color-dark-text-gray

.sidebar-section
  margin-bottom: $margin-tiny
  &:after
    content:"\2014"
    display: block
    margin-top: $margin-tiny

#search-input
  display: inline-block
  outline: none
  width: 50px
  border: 0
  border-bottom: dotted 1px $color-text-gray
  background-color: transparent
  font-family:"LLAkkuratProWeb-Regular"
  color: $color-blue

#sidebar-contact
  line-height: 2em
  svg
    height: $font-size-basic
    width: $font-size-basic
    margin-right: .3em
    path
      fill: $color-text-gray

.menu-active
  font-family:"LLAkkuratProWeb-Regular"
  color: $color-dark-text-gray


// POSTS

#posts
	article
		border-bottom: 1px solid $color-border-gray

.post-main
  text-align: center
  color: $color-soft-white
  height: $basic-post-height
  position: relative
  background-color: $color-soft-black
  background-position: center center
  background-size: cover
  transition: height $longer-animation-speed
  overflow: hidden

.home-news.news-read-more, .home-video
  .post-main
    &:hover
      .post-header
        display: none
      .post-header-hover
        display: inline-block

.director-label
  path
    fill: $color-text-gray

.post-header
  width: 85%
  margin: 0 auto

.post-header-hover
  display: none
  padding: $margin-small $margin-basic
  opacity: 0.85

.post-copy
  display: none
  position: relative

.post-copy-close
  position: absolute
  top: $margin-basic
  right: $margin-basic

.post-copy-container
  box-sizing: border-box
  padding: $margin-basic

.basic-post-title
  margin-bottom: $margin-small

  // PAGINATION

#pagination
  padding: $margin-large
  text-align: center

// NEWS POST

.home-news.active
  .post-header
    display: block
  .post-header-hover
    display: none

.news-copy
  display: none
  margin: $margin-large 0

// VIDEO POST

.home-video-player
  position: absolute
  top: $basic-post-height
  height: $basic-post-height
  width: 100%
  z-index: 1
  transition-property: top
  transition-duration: $longer-animation-speed

.home-video.active
  .home-video-player
    top: 0

// PAGES

.page-header
  background-color: $color-light-gray
  padding-top: $margin-small
  padding-bottom: $margin-tiny

#page-title
  margin-left: $margin-basic
  padding-bottom: $margin-small

  // ABOUT PAGE

.about-page-director
  float: left
  width: 50%
  box-sizing: border-box
  padding: $margin-small

  // CONTACT PAGE

#map-copy
  display: none

#map-canvas
  height: 400px
  margin: 0
  padding: 0
  img
    max-width: none

.contact-person
  margin-bottom: $margin-small
  margin-top: $margin-small
  svg
    display: inline-block
    height: $font-size-basic
    width: $font-size-basic
    margin-right: 0.4em
    margin-top: 0.2em
    path
      fill: $color-text-gray

  // SIGN UP PAGE

#subForm
  label
    font-family:"LLAkkuratProWeb-Lightitalic"
    color: $color-light-text-gray
    display: block
    height: ($font-size-subheading + ($margin-tiny*2) + 5px)
    margin-bottom: $margin-small
    padding: 0 $margin-basic
    box-sizing: border-box
  .mobile-label
    display: none
  input
    display: block
    width: 90%
    max-width: 550px
    margin-bottom: $margin-small
    padding: $margin-tiny
    box-sizing: border-box
    font-family:"LLAkkuratProWeb-Light",helvetica,arial,sans-serif
    font-size: $font-size-subheading
    color: $color-blue
    border: 0
    outline-color: $color-blue
    display: block
  button
    background-color: $color-blue
    color: $color-soft-white
    border: 0
    font-family:"LLAkkuratProWeb-Light",helvetica,arial,sans-serif
    text-transform: uppercase
    letter-spacing: 0.05em;



// SEARCH RESULTS

.search-results-label
  margin: 0 auto
  width: 70%
  max-width: 400px

.search-results-label-fix
  padding-top: $font-size-smaller

.search-result-section
  margin-top: $margin-basic
  margin-bottom: $margin-large
  strong
    color: $color-blue
    font-weight: normal !important

// DIRECTOR SINGLE

.cinema-mode
  background-color: $color-light-gray
  color: $color-light-text-gray
  body, #sidebar
    background-color: $color-light-gray
    color: $color-light-text-gray
  .inline-player-nav
    opacity: 1
  #director-archive
    padding-top: $margin-small
//   .director-showreel-video
//     opacity: 0.1
//     &:hover
//       opacity: 1

  // INLINE PLAYER

.inline-player-nav
  display: inline-block
  margin-bottom: 0.4em
  margin-right: 1em
  opacity: 0
  transition: opacity $basic-animation-speed
  svg
    height: 20px
    path
      fill: $color-dark-text-gray
    &:hover
      path
        fill: $color-dark-gray

  // HEADER

#director-menu
  padding-top: $margin-small

  #director-showreel-label
    display: none

  &[data-active="archive"], &[data-active="biography"]
    #director-showreel-play
      display: none
    #director-showreel-label
      display: inline-block

.director-menu-item
  width: 80px
  text-align: center
  display: block
  float: left
  text-transform: uppercase
  background-color: $color-dark-gray
  padding: 0em 0.4em
  margin-bottom: $margin-nav-spacing
  margin-right: $margin-nav-spacing
  color: $color-soft-white
  &.active
    background-color: $color-mid-gray
  a:hover
    color: $color-soft-white

.director-menu-item-blue
  background-color: $color-blue

  // CONTENT SECTIONS

#director-biography, #director-archive
  display: none

  // ARCHIVE

#director-archive
  transition: padding-top $basic-animation-speed

  a:hover
    opacity: 1

#director-archive-tags
  padding-bottom: $margin-small

.filter-tag
  float: left
  background-color: $color-dark-gray
  color: $color-soft-white
  text-transform: uppercase
  padding: 0 0.4em
  margin-bottom: $margin-nav-spacing
  margin-right: $margin-nav-spacing

.filter-tag-active
  background-color: $color-blue

.director-archive-video
  width: 20%
  transform: scale(0)
  transition: transform $fast-animation-speed
  &.active
    transform: scale(1)

  // THUMBNAILS

.director-archive-video, .director-showreel-video
  float: left
  position: relative
  &.active
    display: block
  .u-holder
    color: $color-soft-white
    text-align: center
    opacity: 0
    position: absolute
    top: 0
    left: 0
    transition: opacity $basic-animation-speed
    &:hover
      opacity: 1
  .u-fixed-ratio-content
    transition: background-color $basic-animation-speed
  &:hover .u-fixed-ratio-content
    background-color: rgba(0,0,0,0.5)


// VIDEO OVERLAY

#video-overlay
  display: none
  background-color: rgba(255,255,255,.92)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 99999

#video-overlay-player
  background-color: $color-soft-black

.video-overlay-nav
  position: absolute
  top: 50%
  .genericon
    font-size: $overlay-nav-size

#video-overlay-close
  top: $margin-basic
  right: $margin-basic

#video-overlay-next
  margin-top: -($overlay-nav-size/2)
  right: $margin-basic

#video-overlay-previous
  margin-top: -($overlay-nav-size/2)
  left: $margin-basic

#video-overlay-inner
  width: 80%
  margin: 0 auto

#video-overlay-text
  margin-top: $margin-small



// MEDIA QUERIES

@media screen and (max-width: 1111px)

  $width-sidebar = 220px

  #sidebar
    width: $width-sidebar

  #main-content
    padding-left: $width-sidebar


@media screen and (max-width: 888px)

  #sidebar
    transform: translateX(-100%)
    &.open
      transform: translateX(0%)

  #sidebar-toggle
    width: 30px
    height: 30px
    top: 0
    right: 0
    padding: $margin-small
    position: fixed
    display: block
    background: none
    z-index: 999
    transform: rotate(0deg)
    &.rotate
      transform: rotate(90deg)

  #main-content
    padding-left: 0

  .colpad1left
    padding-left: $margin-small

  .copy
    padding-left: $margin-small

  #director-header
    .col1
      width: 50%
      box-sizing: border-box
      &.colpad1left
        width: 33.33%

  .director-showreel-video.col1
    width: 50%

  .director-archive-video
    width: 33.33%

  .search-results-label
    width: 100%
    box-sizing: border-box
    padding-left: $margin-small
    padding-right: $margin-small

  #subForm
    label
      padding: 0 $margin-small


@media screen and (max-width: 400px)

  // TYPOGRAPHY

  $font-size-heading = 50px
  $font-size-subheading = 25px

  h1, h2
    font-size: $font-size-heading

  h3
    font-size: $font-size-subheading

  #subForm
    label
      height: ($font-size-subheading + ($margin-tiny*2) + 5px)
    input
      font-size: $font-size-subheading

  // SIDEBAR MENU

  #logo
    width: 50%

  #sidebar
    width: 100%

  #sidebar-toggle
    path
      fill: $color-dark-text-gray

  // POSTS

  .post-main
    height: 260px

  // DIRECTOR SINGLE

  #director-header
    .col1
      width: 50%
      &.colpad1left
        width: 50%

  #director-menu
    padding-top: 0

  .director-showreel-video.col1
    width: 100%
    .u-fixed-ratio-content
      border-right: none

  #director-archive, #director-biography
    .col1
      display: none
    .col2
      width: 100%
      box-sizing: border-box
      padding-left: $margin-small
      padding-right: $margin-small

  .director-archive-video
    width: 50%

  // PAGE

  #page
    .row
      .col1
        display: none
      .col2
        width: 100%
        box-sizing: border-box

  .contact-person
    box-sizing: border-box
    padding-left: $margin-small
    padding-right: $margin-small

  #subForm
    .col2
      box-sizing: border-box
      padding-left: $margin-small
      padding-right: $margin-small
    input
      width: 100%
    .mobile-label
      display: block
      padding: 0
      margin-bottom: $margin-tiny
      margin-top: $margin-tiny
      height: auto

  // SEARCH

  .search-result-section
    margin-top: 0
    margin-bottom: $margin-basic
    .col
      float: none
      width: 100%
      box-sizing: border-box
      padding-left: $margin-small
      padding-right: $margin-small
    .col1
      margin-bottom: $margin-tiny
    .search-results-label, .search-result.copy
      padding: 0

  // NEW MARGINS

    // VIDEO OVERLAY

  .video-overlay-nav
    svg
      height: 20px
      width: 20px

  #video-overlay-close
    top: 13px
    right: 13px

  #video-overlay-next
    margin-top: -(20px/2)
    right: 13px

  #video-overlay-previous
    margin-top: -(20px/2)
    left: 13px

  #video-overlay-inner
    width: 70%

  #video-overlay-text
    margin-top: 13px
