@import "fonts"
@import "resets"

// VARIABLES

$gutter = 16px

$width-sidebar = 250px

$basic-animation-speed = 0.6s
$longer-animation-speed = 0.7s

$margin-small = ($gutter)
$margin-tiny = ($gutter/2)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$basic-post-height = 350px

$overlay-nav-size = 50px

$font-size-basic = 17px

$font-size-heading = 60px
$font-size-subheading = 30px

$font-size-smaller = 14px
$font-size-smallest = 12px

$font-leading-basic = 1.5em
$font-tracking-basic = 0.03em

$color-soft-black = rgb(14,14,14)
$color-soft-white = rgb(253,253,253)

$color-blue = rgb(0,188,236)

$color-light-gray = rgb(237,236,236)
$color-dark-gray = rgb(205,203,203)
$color-light-text-gray = rgb(200,200,200)
$color-text-gray = rgb(129,126,126)

// TYPOGRAPHY

body
  font-family:"LLAkkuratProWeb-Light",helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  color: $color-text-gray

i, em, .font-italic
  font-family:"LLAkkuratProWeb-Lightitalic",helvetica,arial,sans-serif
  font-style: normal !important

.font-size-smaller
  font-size: $font-size-smaller
  line-height: $font-leading-basic

.font-size-smallest
  font-size: $font-size-smallest
  line-height: $font-leading-basic

h1
  font-size: $font-size-heading
  -webkit-font-smoothing: antialiased

h2
  font-size: $font-size-heading
  -webkit-font-smoothing: antialiased

h3
  font-size: $font-size-subheading

h4
  font-size: $font-size-basic

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic
  font-weight: normal

p
  margin-bottom: 1em
//
//   a
//     font-family:"LLAkkuratProWeb-Regular",helvetica,arial,sans-serif

.copy
  max-width: 650px


// LINKS

a,a:active,a:visited
  color:inherit
  text-decoration: none
  transition: opacity $basic-animation-speed
  &:hover
    opacity:.5


// BASIC

html, body
  background-color: $color-light-gray
  transition: background-color $longer-animation-speed

img
  max-width: 100%
  height: auto

.background-gray
  background-color: $color-light-gray

.button
  display: inline-block
  text-transform: uppercase
  background-color: $color-dark-gray
  padding: 0em 0.5em
  color: $color-soft-white

// UTILITY

.u-marginauto
  margin: 0 auto

.u-background-cover
  background-size: cover
  background-position: center center

.u-fixed-ratio
  position: relative
  display: inline-block

.u-fixed-ratio-dummy
  padding-top: 60%

.u-fixed-ratio-content
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.u-force-width
  min-height: 1em

// 3 COL FLUID

.col
  float: left

.col1
  width: 33.3%

.col2
  width: 66.6%

.colpad1left
  padding-left: 33.3%

// STRUCTURE

#sidebar
  width: $width-sidebar
  position: fixed
  z-index: 888
  top: 0
  left: 0
  height: 100%
  overflow-y: auto
  box-sizing: border-box
  padding: $margin-small
  background-color: $color-soft-white
  transition-property: transform, background-color
  transition-duration: $longer-animation-speed

#sidebar-toggle
  display: none
  z-index: 999
  transition: transform $longer-animation-speed
  path
    fill: $color-soft-white

#main-content
  padding-left: $width-sidebar

.header-left
  float: left
  width: 65%

.header-right
  float: left
  width: 35%
  box-sizing: border-box
  text-align: right
  padding-top: $margin-small
  padding-right: $margin-basic

// PLAYER

#vimeo-player, #video-overlay-player
  position: relative
  height: 0
  overflow: hidden
  transition: padding-top $basic-animation-speed
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// SIDEBAR

.sidebar-section
  margin-bottom: $margin-small
  &:after
    content:"\2014"
    display: block
    margin-top: $margin-small

#search-input
  display: inline-block
  width: 50px
  border: 0
  border-bottom: dotted 1px $color-text-gray
  background-color: transparent

// POSTS

.post-main
  text-align: center
  color: $color-soft-white
  height: $basic-post-height
  position: relative
  background-color: $color-soft-black
  background-position: center center
  background-size: cover
  transition: height $longer-animation-speed
  overflow: hidden
  &:hover
    .post-header
      display: none
    .post-header-hover
      display: inline-block

.post-header
  width: 85%
  margin: 0 auto

.post-title
  font-size: $font-size-heading

.post-subtitle
  font-size: $font-size-subheading

.post-header-hover
  display: none
  padding: $margin-small $margin-basic
  font-size: $font-size-subheading
  background-color: $color-soft-white
  opacity: 0.65
  color: $color-soft-black

.post-copy
  overflow: hidden
  position: relative
  height: 0
  transition: height $basic-animation-speed

.post-copy-close
  position: absolute
  top: $margin-basic
  right: $margin-basic

.post-copy-container
  box-sizing: border-box
  padding: $margin-basic

// NEWS POST

.home-news.active
  .post-copy
    height: auto

.news-copy
  display: none
  margin: $margin-large 0

// VIDEO POST

.home-video-player
  position: absolute
  top: $basic-post-height
  height: $basic-post-height
  width: 100%
  z-index: 1
  transition-property: top
  transition-duration: $longer-animation-speed

.home-video.active
  .post-copy
    height: auto
  .home-video-player
    top: 0

// PAGES

.page-header
  background-color: $color-light-gray

#page-title
  margin-left: $margin-basic
  padding-bottom: $margin-small

// DIRECTOR SINGLE

.cinema-mode
  background-color: $color-light-gray
  color: $color-light-text-gray
  body, #sidebar
    background-color: $color-light-gray
    color: $color-light-text-gray
  .inline-player-nav
    opacity: 1
  #director-archive
    padding-top: $margin-small
//   .director-showreel-video
//     opacity: 0.1
//     &:hover
//       opacity: 1

  // INLINE PLAYER

.inline-player-nav
  display: inline-block
  margin-bottom: 0.4em
  margin-right: 1em
  svg
    height: 20px
    path
      fill: $color-soft-black
    &:hover
      path
        fill: $color-dark-gray

  // HEADER

#director-header
  padding-top: $margin-small
  padding-bottom: $margin-tiny

#director-menu
  padding-top: $margin-small

  #director-showreel-label
    display: none

  &[data-active="archive"], &[data-active="biography"]
    #director-showreel-play
      display: none
    #director-showreel-label
      display: inline-block

.director-menu-item
  width: 80px
  text-align: center
  display: inline-block
  text-transform: uppercase
  background-color: $color-dark-gray
  padding: 0em 0.4em
  color: $color-soft-white

  a:hover
    opacity: 1

.director-menu-item-blue
  background-color: $color-blue

  // CONTENT SECTIONS

#director-biography, #director-archive
  display: none

  // ARCHIVE

#director-archive
  transition: padding-top $basic-animation-speed

  a:hover
    opacity: 1

#director-archive-tags
  padding-bottom: $margin-small

.filter-tag
  display: inline-block
  background-color: $color-dark-gray
  color: $color-soft-white
  text-transform: uppercase
  padding: 0 0.4em
  margin-bottom: 0.4em
  margin-right: 0.4em

.filter-tag-active
  background-color: $color-blue

.director-archive-video
  width: 20%
  display: none

  // THUMBNAILS

.director-archive-video, .director-showreel-video
  float: left
  position: relative
  &.active
    display: block
  .u-holder
    color: $color-soft-white
    text-align: center
    opacity: 0
    position: absolute
    top: 0
    left: 0
    transition: opacity $basic-animation-speed
    &:hover
      opacity: 1
  .u-fixed-ratio-content
    transition: background-color $basic-animation-speed
  &:hover .u-fixed-ratio-content
    background-color: rgba(0,0,0,0.5)


// VIDEO OVERLAY

#video-overlay
  display: none
  background-color: rgba(255,255,255,.92)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 99999

#video-overlay-player
  background-color: $color-soft-black

.video-overlay-nav
  position: absolute
  top: 50%
  .genericon
    font-size: $overlay-nav-size

#video-overlay-close
  top: $margin-basic
  right: $margin-basic

#video-overlay-next
  margin-top: -($overlay-nav-size/2)
  right: $margin-basic

#video-overlay-previous
  margin-top: -($overlay-nav-size/2)
  left: $margin-basic

#video-overlay-inner
  width: 80%
  margin: 0 auto

#video-overlay-text
  margin-top: $margin-small



// MEDIA QUERIES

@media screen and (max-width: 800px)

  #sidebar
    transform: translateX(-100%)
    &.open
      transform: translateX(0%)

  #sidebar-toggle
    width: 30px
    height: 30px
    top: $margin-small
    right: $margin-small
    position: fixed
    display: block
    background: none
    z-index: 999
    transform: rotate(0deg)
    &.rotate
      transform: rotate(90deg)

  #main-content
    padding-left: 0

@media screen and (max-width: 400px)

  #logo
    width: 50%

  #sidebar
    width: 100%

  #sidebar-toggle
    path
      fill: $color-text-gray
